<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../../styles/style.css" />
  </head>

  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card p-4">
            <img
              src="../../assets/images/TeamSphere.png"
              alt="Logo"
              class="w-50 mx-auto mb-3"
            />
            <h3 class="text-center">Login</h3>
            <form class="row g-3 needs-validation" id="login-form" novalidate>
              <div class="col-md-12">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  id="login-email"
                  required
                />
                <div class="invalid-feedback" id="email-feedback"></div>
              </div>
              <div class="col-md-12">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="login-password"
                  required
                />
                <div class="invalid-feedback" id="password-feedback"></div>
              </div>
              <div class="col-12 d-flex">
                <button class="btn btn-info" type="submit">Login</button>
                <button class="btn btn-info mx-3">
                  <a href="../signup/"> Register </a>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="./script.ts"></script>
  </body>
</html>
