<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid mx-3">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <img
              src="../../assets/images/TeamSphereWhite.png"
              alt="Logo"
              class="img-fluid"
            />
          </a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-group">
          <div class="navbar-nav" id="checkNav">
            <a class="nav-link notification text-white" href="#"
              >Notification</a
            >
            <a class="nav-link text-white" href="../../views/profile/"
              >Profile</a
            >
          </div>
        </div>
      </div>
    </nav>
  </body>
  <script type="module" src="./navbar.ts"></script>
</html>
