<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../../styles/style.css" />
  </head>

  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card p-4">
            <img
              src="../../assets/TeamSphere.png"
              alt="Logo"
              class="w-50 mx-auto mb-3"
            />
            <h3 class="text-center">Register</h3>
            <form
              class="row g-3 needs-validation"
              id="register-form"
              novalidate
            >
              <div class="col-md-12">
                <label for="username" class="form-label">Username</label>
                <div class="input-group has-validation">
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    aria-describedby="inputGroupPrepend"
                    required
                  />
                  <div class="invalid-feedback" id="username-feedback"></div>
                </div>
              </div>
              <div class="col-md-12">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  id="email"
                  required
                />
                <div class="invalid-feedback" id="email-feedback"></div>
              </div>
              <div class="col-md-12">
                <label for="designation" class="form-label">Designation</label>
                <input
                  type="text"
                  class="form-control"
                  name="designation"
                  id="designation"
                  required
                />
                <div class="invalid-feedback" id="designation-feedback"></div>
              </div>
              <div class="col-md-12">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  required
                />
                <div class="invalid-feedback" id="password-feedback"></div>
              </div>
              <div class="col-md-12">
                <label for="confirm-password" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  name="confirmPassword"
                  id="confirmPassword"
                  required
                />
                <div
                  class="invalid-feedback"
                  id="confirmPassword-feedback"
                ></div>
              </div>
              <div class="col-12 d-flex">
                <button class="btn btn-info" type="submit">Register</button>
                <button class="btn btn-info mx-3" type="submit" id="login-btn">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="./script.ts"></script>
  </body>
</html>
